In [17]:
import pandas as pd
import os

# 确认当前目录下的文件
print(os.listdir())
files = os.listdir('./orders')

results = []

for file in files:
    
    # 读取数据
    data = pd.read_csv('./orders/'+ file)

    # 将 'departure_time' 转换为 datetime 类型
    data['departure_time'] = pd.to_datetime(data['dwv_order_make_haikou_1.departure_time'])

    # 设置时间间隔，例如每15分钟
    interval = pd.Timedelta(minutes=15)

    # 按照 'departure_time' 和 'O_location' 进行分组，并统计每个间隔内的订单数量
    order_counts = data.groupby([pd.Grouper(key='departure_time', freq=interval), 'O_location']).size().reset_index()
    order_counts.columns = ['departure_time', 'O_Location', 'OrderCount']
    order_counts['interval'] = pd.to_datetime(order_counts['departure_time']).dt.time
    results.append(order_counts)

# 合并所有结果
df = pd.concat(results, ignore_index=True)
df.head()

['count.ipynb', 'link.csv', 'node.csv', 'OD.csv', 'ODs', 'orders', 'orders.csv']

       departure_time  O_Location  OrderCount  interval
0 2017-05-01 08:00:00         7.0           1  08:00:00
1 2017-05-01 08:00:00        35.0           1  08:00:00
2 2017-05-01 08:00:00        38.0           1  08:00:00
3 2017-05-01 08:00:00        40.0           2  08:00:00
4 2017-05-01 08:00:00        49.0           1  08:00:00

In [19]:
tmp = df.groupby(['interval','O_Location'])['OrderCount'].sum().reset_index()
tmp

      interval  O_Location  OrderCount
0     08:00:00         6.0           6
1     08:00:00         7.0          17
2     08:00:00         8.0           1
3     08:00:00         9.0           8
4     08:00:00        10.0           7
...        ...         ...         ...
4928  08:45:00      3861.0           6
4929  08:45:00      3862.0           4
4930  08:45:00      3863.0          28
4931  08:45:00      3882.0          11
4932  08:45:00      3883.0           3

[4933 rows x 3 columns]

In [21]:
tmp.to_csv('../expected_passenger_number.csv')